body {
    background-color: #e4e4e4;
}
::-webkit-scrollbar {    /**Custom scrollbar, doesn't work in Firefox**/
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0f7bb1; 
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ededed;
}
.wrapper {
    margin: auto auto;
    width: 320px;
    height: 530px;  
    cursor: default;
    background-color: #ffffff;    
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: 2px 1px 5px #a1a1a1;
}
.tab {
    width: 320px;
    margin: auto;    
}
.tab__header {
    display: inline-block; 
    padding: 8px;
    margin-right: 5px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, #0784b4, #1e69ac);
    color: #ffffff;
}
.profile {    
    width: 320px;
    height: 530px;
    display: flex;    
    flex-direction: column;    
    align-items: center;
}
.profile__left {
    width: 150px;
}
.profile__addfriend {
    display: block;
    width: 132px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    line-height: 240%;       
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: -1px 1px 5px #a1a1a1;
    background-image: linear-gradient(to bottom, #e68200, #e65200);
    color: #ffffff;    
}
.profile__addfriend:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 6px #e68200;
}
.profile__right {
    margin-top: 5px;
}
.profile__name {      
    text-align: center;  
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: text, auto;
    border:none; 
}
.profile__name-form {
    width: 268px;
    margin: auto;
}
.profile__city {
    width: 268px;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
}
.profile__bio {
    margin-top: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: #000000;
}
.relationship-status, .phone, .email {
    width: 150px;
    text-align: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}
.user-relationship-status {    
    -webkit-appearance: none;
    -moz-appearance: none;   
    text-overflow: '';   
    cursor: pointer;
    border: none;
}
.user-phone {
    border: none;
}
.user-email {
    text-decoration: underline;
    border: none;
    color: #408cf5;    
}
.intrests {
    width: 300px;
    display: block;
}
.intrests__header {
    margin-top: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}
.intrests__newbutton {
    cursor: pointer;
}
.friends {
    width: 320px;
    height: 500px;    
    display: none;
    flex-direction: column;    
    padding: 15px;
    overflow-y: scroll;
}
.friends__first-column, .friends__second-column {    
    width: 220px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.friends__item {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.friends__image {
    margin-right: 15px;
    border-radius: 2px;
}
.friends__name_link {
    font-size: 13px;
    font-weight: bold;
    line-height: 160%;
    font-family: Arial, Helvetica, sans-serif;
    color: #1574af;    
}
.friends__city {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.friends__status {
    position: absolute;
    bottom: 3px;
    font-size: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f8a26;
}
.active {
    color: #000000;
    background-image: none;
    background-color: #ffffff;
}
